lab3/lab3.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="html">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="h2"/>
              <xs:element name="table">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="tr" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="th" maxOccurs="unbounded" minOccurs="0"/>
                          <xs:element type="xs:string" name="td" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="bgcolor" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="border"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>